<head></head>
    <link rel="stylesheet" href="/components/scss/custom.css">
</head>
<div class="d-flex align-items-center mb-3">
    <!-- Imagen de usuario -->
    <a href="index.php?page=login" class="d-flex align-items-center">
        <img src="assets/images/user-avatar.png" alt="User" class="rounded-circle me-2 img-fluid" style="max-width: 50px; height: auto;">
        <strong>User</strong>
    </a>
</div>

<!-- Botones de acción -->
<div class="mb-4">
    <a href="index.php?page=notes" class="btn btn-success btn-block mb-2" id="add-note-button">+ Nota</a>
</div>

<!-- Lista de navegación -->
<nav class="nav flex-column">
    <!-- Otros enlaces de navegación -->
    <li class="nav-item">
        <a href="index.php?page=home" class="nav-link active" id="home-link">Home</a>
    </li>
    <li class="nav-item">
        <a href="index.php?page=notes" class="nav-link">Notes</a>
    </li>
    <li class="nav-item">
        <a href="index.php?page=tasks" class="nav-link">Tasques</a>
    </li>
    <li class="nav-item">
        <a href="index.php?page=trash" class="nav-link text-danger">Paperera</a>
    </li>
</nav>